<div class="container padnav form-column">
  <form action="/session" method="POST">
  <h2>Log In</h2>
  <p>Please enter your Username and Password.</p>

  <label>Username:</label>
  <input type="username" name="username" class="form-control">

  <label>Password:</label>
  <input type="password" name="password" class="form-control">

  <br>

  <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
</form>
</div>

<!-- form action='signup' method='POST'>
  <label>first_name:</label>
  <input name='first_name'>

  <label>last_name:</label>
  <input name='last_name'>

  <label>username:</label>
  <input name='username'>

  <label>password:</label>
  <input name='password'>

  <label>email:</label>
  <input name='email'>


  <label>phone:</label>
  <input name='phone'>


  <label>birthday:</label>
  <input name='birthday'>


  <label>profile_pic:</label>
  <input name='profile_pic'>
 -->

<script type="text/javascript" src="../../js/jquery-1.8.0.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
